[user]
        name = "Tadashi Nemoto"
        email = tadashi.nemoto0713@gmail.com

[alias]
        delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[init]
	defaultBranch = main
